/* Tablo stilleri */
.table-container {
    width: 100%;
    overflow-x: auto;
    
  }
  
  .table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  /* Alternatif satır stilleri */
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Başlık stilleri */
  .table th {
    background-color: #acacac;
    color: white;
  }
  
  /* Fare üstüne geldiğinde stilleri */
  .table tr:hover {
    background-color: #dddddd;
  }